//general styles here
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $black;
  background-color: $white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  color: green;
}

.wide-container {
  padding: 0 32px;
}

.container {
  padding: 0 157px;
}

.hidden {
  display: none;
}

.button {
  padding: 11px 26px 10px 24px;
  font-weight: bold;
  color: $black;
  background-color: $yellow;
  border-radius: $border-radius-btn;
}

.button:hover {
  background-color: $yellow-hover;
  box-shadow: $shadow-medium;
  transition: ease-in-out .3s;
}

// .button:disabled {
//   cursor: default;
//   background-color: gray;
//   box-shadow: none;
// }

.button:active {
  background-color: $yellow-hover;
  box-shadow: none;
  transition: ease-in-out .3s;
}