//general styles here

body {
  background-color: aqua;

}

h1 {
  color: green;
}

.test-img {
  width: 300px;
  height: 600px;
  background-image: url('img/brock-wegner.jpg');
  background-size: cover;
}