//edit mood
.undo-controls {
  position: absolute;
  left: 20px;
  top: 16px;
  display: flex;
  gap: 8px;
}

.undo-btn {
  padding-left: 50px;
  background-image: url('img/undo-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 24px 50%;
}

.redo-btn {
  padding-left: 50px;
  background-image: url('img/redo-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 24px 50%;
}

.zoom-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  top: 12px;
  padding: 10px 8px;
  width: 130px;
  height: 44px;
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $shadow-medium;
}

.remove-zoom {
  width: 24px;
  height: 24px;
  background-image: url('img/remove-zoom-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.remove-zoom:hover {
  cursor: pointer;
  background-image: url('img/remove-zoom-icon-hover.svg');
  transition: ease-in-out .3s;
}

.zoom-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.add-zoom {
  width: 24px;
  height: 24px;
  background-image: url('img/add-zoom-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.add-zoom:hover {
  cursor: pointer;
  background-image: url('img/add-zoom-icon-hover.svg');
  transition: ease-in-out .3s;
}

.zoom-desc {
  font-size: 14px;
  text-transform: uppercase;
}

.zoom-value {
  font-weight: bold;
  font-size: 12px;
}

.load-controls {
  position: absolute;
  right: 20px;
  top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.download-btn {
  padding-left: 50px;
  background-image: url('img/download-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 24px 50%;
}

.delete-btn {
  padding-left: 50px;
  background-image: url('img/delete-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 24px 50%;
}

.undo-btn,
.redo-btn,
.delete-btn {
  background-color: transparent;
  font-weight: 400;
}

.image-canvas{
  @extend %canvas-size;
  display: block;
  margin: 0 auto 56px;
  background-color: $white;
  box-shadow: $shadow-small;
}

.edit-tools {
  padding: 4px 0;
  background-color: $white;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.edit-tools-list {
  display: flex;
  gap: 16px;
  margin: 0 auto;
  width: $canvas-width;
}

.tool-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 4px 8px;
  width: calc($canvas-width / 6);
  height: 56px;
  background-color: $white;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 50% 4px;
  border-radius: $border-radius;
}

.tool-item:hover {
  cursor: pointer;
  color: $blue;
  background-color: $gray-selected;
  transition: ease-in-out .3s;
}

.tool-item.selected {
  color: $blue;
  background-color: $gray-selected;
}

.transform-tool {
  background-image: url('img/transform-icon.svg');
}

.transform-tool:hover,
.transform-tool.selected {
  background-image: url('img/transform-icon-hover.svg');
}

.filters-tool {
  background-image: url('img/filters-icon.svg');
}

.filters-tool:hover,
.filters-tool.selected {
  background-image: url('img/filters-icon-hover.svg');
}

.adjustments-tool {
  background-image: url('img/adjustments-icon.svg');
}

.adjustments-tool:hover,
.adjustments-tool.selected {
  background-image: url('img/adjustments-icon-hover.svg');
}

.text-tool {
  background-image: url('img/text-icon.svg');
}

.text-tool:hover,
.text-tool.selected {
  background-image: url('img/text-icon-hover.svg');
}

.border-tool {
  background-image: url('img/border-icon.svg');
}

.border-tool:hover,
.border-tool.selected {
  background-image: url('img/border-icon-hover.svg');
}

.draw-tool {
  background-image: url('img/draw-icon.svg');
}

.draw-tool:hover,
.draw-tool.selected {
  background-image: url('img/draw-icon-hover.svg');
}

.tool-item:hover .options-list,
.tool-item.selected .options-list {
  color: $black;
}

.options-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
  width: calc($canvas-width / 6 + 30px);
  line-height: 19px;
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $shadow-medium;
}

.options-list.hidden {
  display: none;
}

.options-list.transform-list {
  top: list-height(3);
}

.options-list.adjustments-list {
  top: list-height(8);
}

.edit-option {
  padding: 9px 8px;
  width: 100%;
  border-radius: $border-radius;
}

.edit-option:hover {
  color: $blue;
  background-color: $gray-selected;
}

//dark theme styles
.dark-theme {

  .undo-controls .undo-btn {
    color: $white;
    background-image: url('img/dark-undo-icon.svg');
  }

  .undo-controls .undo-btn:hover {
    color: $black;
    background-image: url('img/undo-icon.svg');
  }

  .undo-controls .redo-btn {
    color: $white;
    background-image: url('img/dark-redo-icon.svg');
  }

  .undo-controls .redo-btn:hover {
    color: $black;
    background-image: url('img/redo-icon.svg');
  }

  .zoom-controls {
    background-color: $black;
  }

  .remove-zoom {
    background-image: url('img/dark-remove-zoom-icon.svg');
  }

  .remove-zoom:hover {
    background-image: url('img/remove-zoom-icon-hover.svg');
  }

  .add-zoom {
    background-image: url('img/dark-add-zoom-icon.svg');
  }

  .add-zoom:hover {
    background-image: url('img/add-zoom-icon-hover.svg');
  }

  .delete-btn {
    color: $white;
    background-image: url('img/dark-delete-icon.svg');
  }

  .delete-btn:hover {
    color: $black;
    background-image: url('img/delete-icon.svg');
  }

  .image-canvas {
    background-color: $blue;
  }

  .edit-tools {
    background-color: $black;
  }

  .tool-item {
    background-color: $black;
  }

  .tool-item:hover {
    background-color: $light-black;
  }

  .tool-item.selected {
    background-color:  $light-black;
  }

  .transform-tool {
    background-image: url('img/dark-transform-icon.svg');
  }

  .transform-tool:hover,
  .transform-tool.selected {
    background-image: url('img/transform-icon-hover.svg');
  }

  .filters-tool {
    background-image: url('img/dark-filters-icon.svg');
  }

  .filters-tool:hover,
  .filters-tool.selected {
    background-image: url('img/filters-icon-hover.svg');
  }

  .adjustments-tool {
    background-image: url('img/dark-adjustments-icon.svg');
  }

  .adjustments-tool:hover,
  .adjustments-tool.selected {
    background-image: url('img/adjustments-icon-hover.svg');
  }

  .text-tool {
    background-image: url('img/dark-text-icon.svg');
  }

  .text-tool:hover,
  .text-tool.selected {
    background-image: url('img/text-icon-hover.svg');
  }

  .border-tool {
    background-image: url('img/dark-border-icon.svg');
  }

  .border-tool:hover,
  .border-tool.selected {
    background-image: url('img/border-icon-hover.svg');
  }

  .draw-tool {
    background-image: url('img/dark-draw-icon.svg');
  }

  .draw-tool:hover,
  .draw-tool.selected {
    background-image: url('img/draw-icon-hover.svg');
  }

  .tool-item:hover .options-list,
  .tool-item.selected .options-list {
    color: $white;
  }

  .options-list {
    background-color: $black;
  }

  .edit-option:hover {
    background-color: $light-black;
  }

}