.undo-controls {
  position: absolute;
  left: 20px;
  top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1;
}

.reset-btn {
  padding-left: 50px;
  background-image: url('img/reset-changes-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 24px 50%;
}

.undo-btn {
  align-self: flex-start;
  padding-left: 50px;
  background-image: url('img/undo-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 24px 50%;
}

.redo-btn {
  align-self: flex-start;
  padding-left: 50px;
  background-image: url('img/redo-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 24px 50%;
}

.zoom-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  top: 12px;
  padding: 10px 8px;
  width: 130px;
  height: 44px;
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $shadow-medium;
  z-index: 1;
}

.remove-zoom {
  width: 24px;
  height: 24px;
  background-image: url('img/remove-zoom-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.remove-zoom:hover {
  cursor: pointer;
  background-image: url('img/remove-zoom-icon-hover.svg');
  transition: ease-in-out 0.3s;
}

.zoom-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.add-zoom {
  width: 24px;
  height: 24px;
  background-image: url('img/add-zoom-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.add-zoom:hover {
  cursor: pointer;
  background-image: url('img/add-zoom-icon-hover.svg');
  transition: ease-in-out 0.3s;
}

.zoom-desc {
  font-size: 14px;
  text-transform: uppercase;
}

.zoom-value {
  font-weight: bold;
  font-size: 12px;
}

.load-controls {
  position: absolute;
  right: 20px;
  top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1;
}

.download-btn {
  padding-left: 50px;
  background-image: url('img/download-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 24px 50%;
}

.download-menu {
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 3;
  padding: 16px 16px 32px;
  width: 282px;
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: 4px -4px 8px 0px #0000001a, -4px 4px 8px 0px #0000001a;
  transition: ease-in-out 0.3s;
}

.download-title {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: bold;
}

.download-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 28px;
  font-weight: 400;
}

.format-choice-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.format-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  height: 40px;
  background-color: $gray-selected;
  border-radius: $border-radius-btn;
}

.format-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 32px;
  text-transform: uppercase;
  color: $blue;
  background-color: $gray-selected;
  border-radius: $border-radius-btn;
  transition: ease-in-out 0.3s;
}

.format-wrap:hover {
  cursor: pointer;
}

.format-wrap.selected {
  color: $black;
  background-color: $blue;
}

.format-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.format-btn {
  font-size: 12px;
  font-weight: bold;
}

.quality-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.quality-item.hidden {
  display: none;
}

.quality-item.disabled {
  cursor: default;
  opacity: 0.5;
}

.quality-item.disabled .quality-range-wrapper {
  cursor: default;

  .quality-range-input {
    cursor: default;
    pointer-events: none;
  }

  .quality-range-input:disabled::-webkit-slider-thumb {
    cursor: default;
  }
}

.quality-note {
  margin-left: 8px;
  font-size: 10px;
  font-weight: bold;
  color: $light-black;
}

.quality-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quality-range-wrapper {
  cursor: pointer;
  position: relative;
  padding-top: 1px;
  width: 177px;
  min-height: 4px;
}

.quality-range-input {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: $black;
}

.quality-range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-color: $blue;
  border-radius: 50%;
}

.quality-range-input::-webkit-slider-thumb:hover {
  box-shadow: $shadow-large;
}

.quality-input-wrap {
  position: relative;
  font-size: 14px;
}

.quality-number-input {
  padding: 5px 6px 4px;
  width: 54px;
  height: 28px;
  border-radius: $border-radius;
  outline: 0;
}

.quality-number-input:focus {
  border-color: $blue;
}

/* Chrome, Safari, Edge, Opera */
.quality-number-input::-webkit-outer-spin-button,
.quality-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.quality-number-input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}

.quality-number-input::-webkit-input-placeholder {
  color: $gray;
}

.quality-percentage-sign {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  // font-size: 14px;
}

.download-buttons-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  font-size: 12px;
}

.reset-download-btn {
  padding: 9px 24px;
  height: 32px;
  background-color: transparent;
  border-radius: $border-radius-btn;
  transition: ease-in-out 0.3s;
}

.reset-download-btn:hover {
  cursor: pointer;
  background-color: $blue;
  box-shadow: $shadow-medium;
}

.apply-download-btn {
  padding: 9px 24px;
  height: 32px;
  font-weight: bold;
  background-color: $blue;
  border-radius: $border-radius-btn;
  transition: ease-in-out 0.3s;
}

.apply-download-btn:hover {
  cursor: pointer;
  // background-color: $blue-hover;
  box-shadow: $shadow-medium;
}

.reset-download-btn:active,
.apply-download-btn:active {
  background-color: $blue-hover;
}

.download-arrow {
  position: absolute;
  top: -12px;
  right: 10%;
  // right: 13px;
  display: block;
  margin: 0 auto;
  width: 0;
  height: 0;
  background-color: transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 6px solid $white;
}

.delete-btn {
  padding-left: 50px;
  background-image: url('img/delete-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 24px 50%;
}

.reset-btn,
.undo-btn,
.redo-btn,
.delete-btn {
  background-color: transparent;
  font-weight: 400;
}

.image-canvas {
  @extend %canvas-size;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  box-shadow: $shadow-small;
}

#canvas2 {
  @extend %canvas-size;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-blend-mode: overlay;
  background: transparent;
  background-color: transparent;
  background-image: none;
}

#selection-tool {
  position: fixed;
  display: none;
}

#selection-tool-height {
  font-size: 14px;
  position: absolute;
  right: 0;
  bottom: -25px;
  margin: 1px;
}
#selection-tool-width {
  font-size: 14px;
  writing-mode: vertical-rl;
  position: absolute;
  right: -25px;
  bottom: 0;
  margin: 1px;
}

.edit-tools {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  padding: 4px 0;
  width: 100%;
  background-color: $white;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
}

.edit-tools-list {
  display: flex;
  gap: 16px;
  margin: 0 auto;
  width: $canvas-width;
}

.tool-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 4px 8px;
  width: calc($canvas-width / 6);
  height: 56px;
  background-color: $white;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 50% 4px;
  border-radius: $border-radius;
}

.tool-item:hover {
  cursor: pointer;
  color: $blue;
  background-color: $gray-selected;
  transition: ease-in-out 0.3s;
}

.tool-item.selected {
  color: $blue;
  background-color: $gray-selected;
}

.transform-tool {
  background-image: url('img/transform-icon.svg');
}

.transform-tool:hover,
.transform-tool.selected {
  background-image: url('img/transform-icon-hover.svg');
}

.filters-tool {
  background-image: url('img/filters-icon.svg');
}

.filters-tool:hover,
.filters-tool.selected {
  background-image: url('img/filters-icon-hover.svg');
}

.adjustments-tool {
  background-image: url('img/adjustments-icon.svg');
}

.adjustments-tool:hover,
.adjustments-tool.selected {
  background-image: url('img/adjustments-icon-hover.svg');
}

.text-tool {
  background-image: url('img/text-icon.svg');
}

.text-tool:hover,
.text-tool.selected {
  background-image: url('img/text-icon-hover.svg');
}

.border-tool {
  background-image: url('img/border-icon.svg');
}

.border-tool:hover,
.border-tool.selected {
  background-image: url('img/border-icon-hover.svg');
}

.draw-tool {
  background-image: url('img/draw-icon.svg');
}

.draw-tool:hover,
.draw-tool.selected {
  background-image: url('img/draw-icon-hover.svg');
}

.tool-item:hover .options-list,
.tool-item.selected .options-list,
.tool-item:hover .resize-controls,
.tool-item.selected .resize-controls,
.tool-item:hover .rotate-controls,
.tool-item.selected .rotate-controls,
.tool-item:hover .adjustments-controls,
.tool-item.selected .adjustments-controls,
.tool-item:hover .crop-controls,
.tool-item.selected .crop-controls,
.tool-item:hover .border-controls,
.tool-item.selected .border-controls,
.tool-item:hover .draw-controls,
.tool-item.selected .draw-controls {
  color: $black;
}

.options-list {
  cursor: default;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  flex-direction: column;
  padding: 16px 8px;
  width: calc($canvas-width / 6 + 30px);
  line-height: 19px;
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $shadow-medium;
}

.options-list.hidden {
  display: none;
}

.options-list.transform-list {
  top: list-height(3);
}

.options-list.adjustments-list {
  top: list-height(9);
}

.edit-option {
  padding: 9px 8px;
  width: 100%;
  border-radius: $border-radius;
}

.edit-option:hover {
  cursor: pointer;
  color: $blue;
  background-color: $gray-selected;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  z-index: 3;
  bottom: 130%;
  left: 50%;
  display: none;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  min-width: 120px;
  padding: 4px 12px;
  font-size: 12px;
  text-align: center;
  color: $white;
  background-color: $black;
  border-radius: $border-radius;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $black transparent transparent transparent;
}

.filter-wrap .tooltiptext {
  bottom: 110%;
}

.nav-item .tooltiptext {
  bottom: 100%;
  margin-left: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

//dark theme styles
.dark-theme {
  .undo-controls .reset-btn {
    color: $white;
    background-image: url('img/dark-reset-changes-icon.svg');
  }

  .undo-controls .reset-btn:hover {
    color: $black;
    background-image: url('img/reset-changes-icon.svg');
  }

  .undo-controls .undo-btn {
    color: $white;
    background-image: url('img/dark-undo-icon.svg');
  }

  .undo-controls .undo-btn:hover {
    color: $black;
    background-image: url('img/undo-icon.svg');
  }

  .undo-controls .redo-btn {
    color: $white;
    background-image: url('img/dark-redo-icon.svg');
  }

  .undo-controls .redo-btn:hover {
    color: $black;
    background-image: url('img/redo-icon.svg');
  }

  .zoom-controls {
    background-color: $black;
  }

  .remove-zoom {
    background-image: url('img/dark-remove-zoom-icon.svg');
  }

  .remove-zoom:hover {
    background-image: url('img/remove-zoom-icon-hover.svg');
  }

  .add-zoom {
    background-image: url('img/dark-add-zoom-icon.svg');
  }

  .add-zoom:hover {
    background-image: url('img/add-zoom-icon-hover.svg');
  }

  .download-menu {
    background-color: $black;
    box-shadow: 4px -4px 8px 0px #99ece71a, -4px 4px 8px 0px #99ece71a;
  }

  .format-choice {
    background-color: $light-black;
  }

  .format-wrap {
    background-color: $light-black;
  }

  .format-wrap.selected {
    color: $black;
    background-color: $blue;
  }

  .quality-note {
    color: $light-gray;
  }

  .quality-range-input {
    background-color: $white;
  }

  .quality-number-input {
    font-size: 14px;
    color-scheme: dark;
    background-color: $black;
    border-color: $white;
  }

  .quality-number-input:focus {
    border-color: $blue;
  }

  .reset-download-btn {
    color: $white;
  }

  .reset-download-btn:hover,
  .apply-download-btn:hover {
    color: $black;
    background-color: $blue;
    box-shadow: 0px 8px 4px 0px #00d0c31a;
  }

  .reset-download-btn:active {
    background-color: $blue-hover;
  }

  .download-arrow {
    border-bottom: 6px solid $black;
  }

  .delete-btn {
    color: $white;
    background-image: url('img/dark-delete-icon.svg');
  }

  .delete-btn:hover {
    color: $black;
    background-image: url('img/delete-icon.svg');
  }

  .image-canvas {
    background-color: $blue;
  }

  .edit-tools {
    background-color: $black;
  }

  .tool-item {
    background-color: $black;
  }

  .tool-item:hover {
    background-color: $light-black;
  }

  .tool-item.selected {
    background-color: $light-black;
  }

  .transform-tool {
    background-image: url('img/dark-transform-icon.svg');
  }

  .transform-tool:hover,
  .transform-tool.selected {
    background-image: url('img/transform-icon-hover.svg');
  }

  .filters-tool {
    background-image: url('img/dark-filters-icon.svg');
  }

  .filters-tool:hover,
  .filters-tool.selected {
    background-image: url('img/filters-icon-hover.svg');
  }

  .adjustments-tool {
    background-image: url('img/dark-adjustments-icon.svg');
  }

  .adjustments-tool:hover,
  .adjustments-tool.selected {
    background-image: url('img/adjustments-icon-hover.svg');
  }

  .text-tool {
    background-image: url('img/dark-text-icon.svg');
  }

  .text-tool:hover,
  .text-tool.selected {
    background-image: url('img/text-icon-hover.svg');
  }

  .border-tool {
    background-image: url('img/dark-border-icon.svg');
  }

  .border-tool:hover,
  .border-tool.selected {
    background-image: url('img/border-icon-hover.svg');
  }

  .draw-tool {
    background-image: url('img/dark-draw-icon.svg');
  }

  .draw-tool:hover,
  .draw-tool.selected {
    background-image: url('img/draw-icon-hover.svg');
  }

  .tool-item:hover .options-list,
  .tool-item.selected .options-list,
  .tool-item:hover .resize-controls,
  .tool-item.selected .resize-controls,
  .tool-item:hover .rotate-controls,
  .tool-item.selected .rotate-controls,
  .tool-item:hover .adjustments-controls,
  .tool-item.selected .adjustments-controls,
  .tool-item:hover .crop-controls,
  .tool-item.selected .crop-controls,
  .tool-item:hover .border-controls,
  .tool-item.selected .border-controls,
  .tool-item:hover .draw-controls,
  .tool-item.selected .draw-controls {
    color: $white;
  }

  .options-list {
    background-color: $black;
  }

  .edit-option:hover {
    background-color: $light-black;
  }

  .tooltip .tooltiptext {
    color: $black;
    background-color: $white;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    border-color: $white transparent transparent transparent;
  }
}