.footer {
  text-align: center;

  .logo {
    font-size: 36px;
    font-weight: bold;
    opacity: 0.8;
  }

  .logo-highlighted {
    color: $blue;
    opacity: 0.8;
  }

}

.footer-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  padding: 0 32px;
}

.footer-content::after {
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 1px;
  content: '';
  background-color:$black;
  opacity: 0.8;
}

.team-list {
  display: flex;
  gap: 12px;
}

.team-item {
  opacity: 0.8;
}

.team-item:hover {
  opacity: 1;
  transition: ease-in-out .3s;
}

.github-link {
  display: flex;
  align-items: end;
  padding-left: 32px;
  height: 32px;
  background-image: url('img/github-logo.svg');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.rs-logo {
  display: block;
  margin-left: 116px;
  width: 80px;
  height: 32px;
  background-image: url('img/rs-logo.svg');
  opacity: 0.8;
}

.rs-logo:hover {
  opacity: 1;
  transition: ease-in-out .3s;
}

.copyright {
  font-size: 12px;
  font-weight: 300;
}

//dark theme styles
.dark-theme {

  .footer-content::after {
    background-color:$white;
  }

  .github-link {
    background-image: url('img/dark-github-logo.svg');
  }

  .rs-logo {
    background-image: url('img/dark-rs-logo.svg');
  }
}