.main {
  margin-bottom: 88px;
}

.main-content {
  position: relative;
  padding-top: 32px;
  background-color: $light-gray;
  border: $border;
  border-radius: $border-radius;
}

#sourceImage {
  display: none;
}

.upload-area {
  @extend %canvas-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin: 0 auto 120px;
  text-align: center;
  border: 1px dashed $gray;
  border-radius: $border-radius;
}

.upload-area.hidden {
  display: none;
}

.upload-slogan {
  font-size: 24px;
}

.image-placeholder {
  align-self: center;
  width: 380px;
  height: 260px;
  background-image: url('img/image-placeholder.svg');
}

.upload-btn {
  align-self: center;
  padding: 21px 37px 20px 68px;
  background-color: $blue;
  background-image: url('img/upload-image-icon.svg');
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 24px 50%;
  box-shadow: $shadow-medium;
}

.upload-btn:hover {
  background-color: $blue-hover;
  box-shadow: $shadow-large;
  transition: ease-in-out 0.3s;
}

.upload-btn:active {
  background-color: $blue-hover;
  box-shadow: none;
  transition: ease-in-out 0.3s;
}

//dark theme styles
.dark-theme {
  .main-content {
    background-color: $light-black;
    border: 1px solid $gray-selected;
  }

  .image-placeholder {
    background-image: url('img/dark-image-placeholder.svg');
  }

  .upload-btn {
    box-shadow: 0px 8px 4px 0px #00d0c31a;
  }

  .upload-btn:hover {
    background-color: $blue-hover;
    box-shadow: 0px 10px 24px 0px #00d0c31a;
    transition: ease-in-out 0.3s;
  }
}
