@import 'libs/normalize.css';
@import 'style/fonts';
@import 'style/var';
@import 'style/default';
@import 'style/header';
@import 'style/modal';
@import 'style/main';
@import 'style/editArea';
@import 'style/_optionsControls';
@import 'style/footer';
//import each stylesheet from 'style' folder